.list_elements
{
    color: green;
    font-weight: bold;
}

.Done
{
    color: red;
    text-decoration: line-through

}

#Deleted_items_table
{
    border-radius: 1px;
    border-style: solid;
}

#Deleted_items_table td th
{
    border: 1px solid black;


}